body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.dm-open-menu:hover {
    transform: rotate(180deg);
}

.dm-open-menu {
    width: 10px;
}

.dm-autowidth {
    width: auto;
}

.dm-no-decoration a {
    text-decoration: none;
}


/* ----- CONTENT ----- */

/*#dm-header-height {}*/

#dm-bg-header {
    background-color: royalblue;
}

#cover-purchase {
    margin-top: 100px;
    background-color: black;
    color: white;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
}

#game-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: top;
}

#new-games {
    /* background-color: grey; */
}

.w-100px {
    width: 100px;
}

#jumbotron {
    margin-top: 20rem;
}

#new-games {
    background-color: darkslategray;
}

#explore-ps-plus {
    background-color: grey;
}

#follow-social>* {
    max-width: 700px;
}

.dm-w-35px {
    width: 35px;
}