body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

/* ----- CONTENT ----- */

#cover-purchase {
    background-color: black;
    color: white;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
}

#game-takes-two {
    background-color: black;
}

#new-games {
    /* background-color: grey; */
}

.w-100px {
    width: 100px;
}