body {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

/* ----- CONTENT ----- */

#cover-purchase {
    /* background-image: url('img/returnal-listing-thumb-01-ps5.jpg'); */
    background-color: black;
    color: white;
    background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
    background-size: 100vh;
}